<!-- <div>
  <label>choose city</label>
  <ul>
      <li *ngFor ="let city of cityData"><a href="#" (click)="select(city);">{{city.name}}</a></li>
  </ul>
</div> -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"/>

<div>
  <label>city:</label>
  <select [(ngModel)]="city"  (change)="select(city);" >
     <option *ngFor ="let city of cityData" [value]="city.name">{{city.name}}</option>
  </select>
</div><br>

<div>
  <!-- <i class="{{changeIcon() ? 'fas fa-play' : 'fas fa-pause' }}" (click) = "changeIcon();"></i> -->
</div><br>


<div *ngIf="selected">
  <label>stations</label>
      <p *ngFor ="let station of cityData.stations">
        {{cityData.stations}}
      </p>
      <audio controls *ngFor ="let station of selected.stations" [src]="station.url">
      </audio>
</div>
