<p>you choose : {{cityCode}}</p><br>

<div *ngIf="cityCode == 'HE'">
  <p>radio al-horyah<p>
  <audio controls autoplay>
    <source src="http://rs.hadara.ps:8000/;stream.mp33&13202692901&duration=99999&id=scplayer&autostart=true" type="audio/mpeg">
  </audio>
</div>

<div *ngIf="cityCode == 'HE'">
  <p>radio rabaa<p>
  <audio controls autoplay>
    <source src="http://217.66.226.47:8046/;stream.mp3" type="audio/mpeg">
  </audio>
</div>

<div *ngIf="cityCode == 'BL'">
  <p>radio Bethlahem<p>
  <audio controls autoplay>
    <source src="http://217.66.226.47:8046/;stream.mp3" type="audio/mpeg">
  </audio>
</div>

<div *ngIf="cityCode == 'RA'">
  <p>radio Ramallah<p>
  <audio controls autoplay>
    <source src="http://stream2.zaytonatube.com:8000/playlist.mp3" type="audio/mpeg">
  </audio>
</div>

<div *ngIf="cityCode == 'NA'">
  <p>radio Nables<p>
  <audio controls autoplay>
    <source src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=shobiddak" type="audio/mpeg">
  </audio>
</div>

<div *ngIf="cityCode == 'JU'">
  <p>Radio jerusalem<p>
  <audio controls autoplay>
    <source src="http://http://188.225.182.10:8000/live" type="audio/mpeg">
  </audio>
</div>

<div>
  <!-- <iframe *ngIf="cityCode == 'BL'" src="http://rs.hadara.ps:8000/;stream.mp33&13202692901&duration=99999&id=scplayer&autostart=true"></iframe> -->
  <!-- <iframe *ngIf="cityCode == 'RA'" src="http://tunein.com/embed/player/s150874/" style="width:100%; height:100px;" scrolling="no" frameborder="no"></iframe> -->
  <!-- <iframe *ngIf="cityCode == 'NA'" src="http://tunein.com/embed/player/s183070/" style="width:100%; height:100px;" scrolling="no" frameborder="no"></iframe> -->
  <!-- <iframe *ngIf="cityCode == 'JU'" src="http://tunein.com/embed/player/s17630/" style="width:100%; height:100px;" scrolling="no" frameborder="no"></iframe> -->
</div>
<!-- <div *ngFor = "let city of citys">
  <span *ngIf="cityCode == city.code">{{city.name}}
    <span *ngFor = "let station of stations">
      <span *ngIf="station.code == cityCode">{{station.name}}
        <iframe [src]="station.link" style="width:100%; height:100px;" scrolling="no" frameborder="no"></iframe>
      </span>
    </span>
  </span>
</div> -->
